

body {
    font-size: x-large;
}

h1 {
    background-color: black;
    color: white;
}

h2 {
    color: red;
    background-color: black;
    color: white;
}

table {
    width: 70%;
}
thead {
    text-align: center;
}